@import "variables";

.notifications-sticky, .notification-developer, .notifications-sticky-item, .notification-info {
	background: @toogabooga-accent !important;
	color     : @white !important;

	.action {
		background: darken(@toogabooga-accent, 20%) !important;
		color     : @white !important;
	}
}