@import "variables";

@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@font-size-base: 14px;
@accent-primary: @toogabooga-light;
@accent-primary-dark: darken(@toogabooga-dark, 20%);
@background-secondary: @white;
@text-color: @toogabooga-ish;
@text-color-subtle: lighten(@text-color, 20%);
@text-color-very-subtle: lighten(@text-color-subtle, 10%);
@text-color-inverse: @toogabooga-light;
@text-color-inverse-subtle: darken(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: darken(@text-color-inverse-subtle, 10%);
@panel-background-color: @white;
@toolbar-background-color: @white;
@btn-default-bg-color: @white;
@btn-default-text-color: @toogabooga-light;
@background-gradient: none;