
/**
 * Default overrides
 */
@snooze-color       : #F1C40F;
@nylas-green        : #1ABC9C;
@nylas-blue         : #3498DB;

/**
 * Colors
 */
@toogabooga-accent  : #34495E;
@toogabooga-light   : darken(@toogabooga-accent, 30%);
@toogabooga-lighter : lighten(@toogabooga-accent, 30%);
@toogabooga-lightest: lighten(@toogabooga-lighter, 30%);
@toogabooga-dark    : darken(@toogabooga-light, 20%);
@white              : #fff;
@off-white          : #ECF0F1;

/**
 * Borders
 */
@base-border-radius : 4px;