/**
 * Default overrides
 */
@star-color: #FED100;
@snooze-color: #8d6be3;
@nylas-green: #1ABC9C;
@nylas-blue: #3498DB;

/**
 * Colors
 */
@toogabooga-accent: #666;
@toogabooga-light: darken(@toogabooga-accent, 10%);
@toogabooga-lighter: lighten(@toogabooga-light, 20%);
@toogabooga-lightest: lighten(@toogabooga-lighter, 40%);
@toogabooga-ish: lighten(@toogabooga-accent, 5%);
@toogabooga-dark: darken(@toogabooga-accent, 30%);
@toogabooga-darker: darken(@toogabooga-dark, 30%);
@white: #fff;
@off-white: #ECF0F1;

/**
 * Used in various places
 */
@PANTONE-7704-UP: @toogabooga-accent;

/**
 * Borders
 */
@base-border-radius: 4px;